- name: Setup Docker and Run Application Container
  hosts: webservers
  become: yes
  environment:
    DEBIAN_FRONTEND: noninteractive

  vars:
  DOCKER_IMAGE_NAME: gheorghi99/minimal-budget-tracker:${{ github.sha }}
  HOST_PORT: 80 
  CONTAINER_PORT: 5000
    # Change to jammy if you're on Ubuntu 22.04
    UBUNTU_CODENAME: focal

  tasks:

    - name: Install prerequisite packages
      ansible.builtin.apt:
        name:
          - apt-transport-https
          - ca-certificates
          - curl
          - software-properties-common
          - python3-pip
        state: present
        update_cache: yes

    - name: Add Docker GPG key
      ansible.builtin.apt_key:
        url: https://download.docker.com/linux/ubuntu/gpg
        state: present

    - name: Add Docker repository
      ansible.builtin.apt_repository:
        repo: "deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ UBUNTU_CODENAME }} stable"
        state: present

    - name: Install Docker
      ansible.builtin.apt:
        name:
          - docker-ce
          - docker-ce-cli
          - containerd.io
        state: present
        update_cache: yes

    - name: Ensure Docker service is enabled and started
      ansible.builtin.service:
        name: docker
        state: started
        enabled: yes

    - name: Install Docker Python module
      pip:
        name: docker
        executable: pip3

    - name: Pull Docker image
      community.docker.docker_image:
        name: "{{ DOCKER_IMAGE_NAME }}"
        source: pull

    - name: Run container
      community.docker.docker_container:
        name: "{{ DOCKER_IMAGE_NAME | split('/') | last | split(':') | first }}"
        image: "{{ DOCKER_IMAGE_NAME }}"
        restart_policy: always
        recreate: yes
        ports:
          - "{{ HOST_PORT }}:{{ CONTAINER_PORT }}"
