name: Continuous Delivery (CD) - Budget Tracker App

on:
  push:
    branches: [ main ]
    paths:
      - 'BudgetTracker/**'
      - 'ansible/**'

permissions:
  contents: read

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Docker Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: ./BudgetTracker
          push: true
          tags: |
            gheorghi99/minimal-budget-tracker:${{ github.sha }}
            gheorghi99/minimal-budget-tracker:latest

  deploy-app:
    needs: build-and-push
    runs-on: ubuntu-latest

    env:
      DROPLET_IP: 64.225.24.134
      IMAGE_TAG: ${{ github.sha }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      # Setup Python for Ansible
      - name: Set Python Version
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Cache pip packages
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      # Install Ansible via official action (faster + cleaner)
      - name: Install Ansible
        uses: ansible/ansible-setup-action@v1

      - name: Install Ansible community.docker collection
        run: ansible-galaxy collection install community.docker

      # SSH Setup
      - name: Start SSH Agent
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Add server host key
        run: ssh-keyscan -H ${{ env.DROPLET_IP }} >> ~/.ssh/known_hosts

      # Dynamic inventory
      - name: Generate Inventory
        run: |
          mkdir -p ansible
          echo "[webservers]" > ansible/inventory.ini
          echo "${{ env.DROPLET_IP }} ansible_user=root" >> ansible/inventory.ini

      # Deploy
      - name: Run Ansible Playbook
        run: ansible-playbook -i ansible/inventory.ini ansible/deploy_docker.yml \
              -e "DOCKER_IMAGE_TAG=${{ env.IMAGE_TAG }}"
